div.atelier{
	width: 600px;
	margin: 0px;
	margin-left: 120px;
}

div.atelier em{

	display: block;
	width: 100%;
	text-align: center;
	padding: 3px;
	margin: 3px;
	background: #111111;
	color: #FFA07A;
}