/* 
 *	By DrugsNTchiz 2013 
 */ 
 
@font-face {
    font-family: 'AmaticSCRegular';
    src: url('./police/AmaticSC-Regular-webfont.eot');
    src: url('./police/AmaticSC-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./police/AmaticSC-Regular-webfont.woff') format('woff'),
         url('./police/AmaticSC-Regular-webfont.ttf') format('truetype'),
         url('./police/AmaticSC-Regular-webfont.svg#AmaticSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AmaticBold';
    src: url('./police/Amatic-Bold-webfont.eot');
    src: url('./police/Amatic-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./police/Amatic-Bold-webfont.woff') format('woff'),
         url('./police/Amatic-Bold-webfont.ttf') format('truetype'),
         url('./police/Amatic-Bold-webfont.svg#AmaticBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksanditalic';
    src: url('./police/quicksand-italic-webfont.eot');
    src: url('./police/quicksand-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./police/quicksand-italic-webfont.woff') format('woff'),
         url('./police/quicksand-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandbold';
    src: url('./police/quicksand-bold-webfont.eot');
    src: url('./police/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./police/quicksand-bold-webfont.woff') format('woff'),
         url('./police/quicksand-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'quicksandregular';
    src: url('./police/quicksand-regular-webfont.eot');
    src: url('./police/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./police/quicksand-regular-webfont.woff') format('woff'),
         url('./police/quicksand-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* ---------------------------------------------- */

*{
	background-color: #222222;
	color: #dddddd;
	font-size: 1.0em;
	font-family: quicksandregular, Arial, serif;
}

em{
	font-style : normal;
	font-weight : normal;
	font-family: quicksanditalic;
}

strong{
	font-family: quicksandbold;
}

strong, em{
	color: #ffffff;
}

a{
	background-color: inherit;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

body{
	width: 800px;
	margin: auto;
}

div{
	margin: 10px;
}

div.bandeau{
	background: url('../media/images/bandeau_etiennevincent.jpg') no-repeat transparent;
	width: 231px;
	height: 600px;
}

div.homepage,
div.biographie, 
div.contact, 
div.agenda{
	width: 450px;
	padding: 35px;
	padding-top: 0px;
	padding-bottom: 0px;
	background: #111111;
}

div.homepage{
	padding-top: 35px; 
}

div.homepage *{
	background: inherit;
}

div.homepage a{
	font-size: 0.9em;
}

div.homepage article img{
	margin: auto;
	margin-bottom: 15px;
}

div.homepage article{
	width: 50%;
	margin-left: 100px;
	margin-bottom: 35px;
	padding: 10px;
	border: 2px solid #FFA07A;
}

div.homepage article header, h2{
	/*Attention : AmaticSCRegular ne gère pas les accents !*/
	font-family: AmaticSCRegular, serif;
	font-size: 1.6em;
	color: #ffffff;
}

div.homepage article header{
	
	margin-top: -35px;
	background: none;
	padding-left: 5px;
	height: 50px;
}

img{
	display: block;
}

h1{
	margin: 0px;
	width: 900px;
	font-family: AmaticSCRegular, serif;
	font-size: 2.3em;
}

h1 .mini{
	/* font-family: inherit;
	font-size: 2.0em; */
}

h2{
	margin: 0px;
	text-align: center;
}

h3{
	text-align: center;
	margin: 0px;
	margin-bottom: 15px;
}

div.menu h1{
	width: 215px;
	padding-left: 0px;
	text-align: right;
	float:left;
}

li{
	padding: 10px;
}

ul{
	list-style-type: none;
}

nav.principal ul{
	width: 725px;
	margin: 0px;
}

ul li{
	cursor: pointer;
}

nav.principal ul li{
	border: thin solid #222222;
}

nav.principal ul li:hover, nav.principal ul li.isWorking{
	border-bottom: thin solid #666666;
}

nav.secondaire ul{
	position : absolute;
	top: 30%;
	left:0px;
	padding: 0px;
	background: none;
	font-size: 0.9em;
	z-index: 2;
}

span.sous-secondaire, span.sous-secondaire a{
	background: none;
	display: block;
}
span.sous-secondaire{
	margin-top: 5px;
	padding-left: 15px;
}

span.sous-secondaire a:hover, span.sous-secondaire a.actif{
	text-decoration: underline; 
}

h1, li, div.homepage a{
	color: #FFA07A;
}

nav.secondaire ul li{
	margin-bottom: 15px;
	color: #D2B48C;
	border-left: none;
	background-color: #111111;
	width: 130px;
}

nav.secondaire ul li:hover, nav.secondaire ul li.actif{
	width: 150px;
	color: #FFA07A;
	border-right: thin solid #666666;
}

nav.principal ul, li, div.homepage{
	background: #111111;
}

div.homepage article:hover{
	background-color: #222222;
}

audio{
	margin-left: 50px;
}


h1, div, article, ul, nav.principal ul li{
	float: left;
}

div.biographie *, div.contact *{
	background: inherit;
}

div.contact{
	text-align: center;
}

div.agenda article{
	border: 2px solid #FFA07A;
	margin-bottom: 15px;
	margin-top: 15px;
	width: 100%;
	text-align: center;
	background: #111111;
}

div.agenda article header
{
	color: #ffffff;
	margin-bottom: 15px;
}
div.agenda article footer{
	margin-top: 15px;
	color: #FFA07A;
}

div.agenda article footer{
	font-size: 0.8em;
}