div.vip{
	width: 100%;
	margin: 0px;
}

div.vip *{
	background: none;
}

div.vip h2{
	background: #222222;
}

div.vip audio{
	display: block;
	width: 400px;
	margin: auto;
}

div.vip figure.pro a:hover{
	color: white;
}

div.vip figure figcaption{
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 1.2em;
	display: block;
	text-align: center;
}

div.vip figure{
	border: 2px solid #FFA07A;
	background: #111111;
	padding: 5px;
	width: 500px;
	margin: auto;
	margin-bottom: 15px;
}

div.vip figure *{
	background-color: inherit;
}

div.vip figure p{
	padding: 15px;
	padding-bottom: 0px;
	color: #bbbbbb;
}

div.vip figure.musicien figcaption{
	text-transform: capitalize;
}

div.vip figure.musicien img{
	display: block;
	width: 270px;
	height: 270px;
	margin: auto;
}

div.vip figure.presentation{
	width: 100%;
}

figure.presentation img{
	display: block;
	margin: auto;

}

figure.presentation p{
	text-align: center;
}

figure.presentation a{
	text-decoration: underline;
}

figure.presentation a:hover{
	text-decoration: none;
	color: #ffffff;
}

figure p {
	padding-left : 15px;
	padding-right : 15px;
}

div.vip article {
	width: 100%;
}

article.musicPlayer{
	float:none;
}

figure.audio figcaption{
	margin: 15px;
}

figure.audio{
	border: thin solid #444444;
	padding-bottom: 15px;
}